<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->

<div class="block-shipfunk"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">
    <div class="block block-shipfunk-option"
         data-bind="attr: {'data-label': $t('or')}">
        <div class="block-title">
            <strong id="block-shipfunk-option-heading"
                    role="heading"
                    aria-level="2"
                    data-bind="if: shippingPoints"
                    translate="'Choose pickup location'"></strong>
        </div>
        <div class="block-content" aria-labelledby="block-shipfunk-option-heading">
            <div table data-bind="if: shippingPoints">
                <div class="points" data-bind="foreach: shippingPoints">
                    <div data-bind="attr: {
                                             'id': 's_method_' + pickup_id,
                                          },
                                          css: $parent.selectedPickupId() == pickup_id ? 'selected' : '',
                                          click: $parent.selectPickupPoint">
                        <span class="points-text" data-bind="text: pickup_name + ': ' + pickup_addr + ', ' + pickup_postal + ', ' + pickup_city + ', ' + pickup_country"></span>
                        <br />
                        <span class="pickup_openinghours points-additional"  data-bind="if: ((typeof pickup_openinghours).localeCompare('undefined')) && pickup_openinghours">
                            <span translate="'Opening hours'"></span>
                            <span class="pickup_openinghours" data-bind="text: pickup_openinghours"></span>
                            <span>.</span>
                        </span>
                        
                        <span class="pickup_additional_info points-additional"  data-bind="if: ((typeof pickup_additional_info).localeCompare('undefined')) && pickup_additional_info">
                            <span translate="'Additional info'"></span>
                            <span data-bind="text: pickup_additional_info"></span>
                            <span>.</span>
                        </span>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
