<?xml version="1.0"?>
<!--
/**
 * @author Nord Software
 * @package Nord_Shipfunk
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <shipfunk>
                <active>1</active>
                <is_online>1</is_online>
                <model>Nord\Shipfunk\Model\Carrier\Shipfunk</model>
                <name>Shipfunk</name>
                <debug>1</debug>
                <live_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <test_api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted">0:2:PhbaTVk9R5mp2y0b3p3WuDfLhBjB6YEM:SVVlhYVbdaakisPtWB+loKmw7VrnDSHcmeFetUIMB6o=</test_api_key>
                <test_mode>1</test_mode>
                <api_url>https://shipfunkservices.com/api/1.2/</api_url>
                <max_package_weight>1000</max_package_weight>
                <title>Shipfunk Shipping</title>
                <sallowspecific>0</sallowspecific>
                <specificcountry>FI</specificcountry>
                <showmethod>0</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <weight_mapping>weight</weight_mapping>
                <weight_unit>kg</weight_unit>
                <weight_default>1</weight_default>
                <dimensions_unit>cm</dimensions_unit>
                <height_mapping>shipfunk_height</height_mapping>
                <height_default>1</height_default>
                <width_mapping>shipfunk_width</width_mapping>
                <width_default>1</width_default>
                <depth_mapping>shipfunk_depth</depth_mapping>
                <depth_default>1</depth_default>
                <warehouse>Extranet Warehouse</warehouse>
                <category_default>Other</category_default>
                <category_sorting>1</category_sorting>
            </shipfunk>
        </carriers>
    </default>
</config>
