<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="shipfunk_converter" type="Nord\Shipfunk\Plugin\ShippingMethodConverterPlugin"/>
    </type>
    <type name="Magento\Shipping\Block\Adminhtml\Order\Packaging\Grid">
        <plugin name="shipfunk_grid" type="Nord\Shipfunk\Plugin\GridPlugin"/>
    </type>
    
    <preference for="Nord\Shipfunk\Api\GuestGetPickupPointsManagementInterface" type="Nord\Shipfunk\Model\Api\GuestGetPickupPointsManagement" />
    <preference for="Nord\Shipfunk\Api\GetPickupPointsManagementInterface" type="Nord\Shipfunk\Model\Api\GetPickupPointsManagement" />
    <preference for="Nord\Shipfunk\Api\GuestSelectedDeliveryManagementInterface" type="Nord\Shipfunk\Model\Api\GuestSelectedDeliveryManagement" />
    <preference for="Nord\Shipfunk\Api\SelectedDeliveryManagementInterface" type="Nord\Shipfunk\Model\Api\SelectedDeliveryManagement" />
    <preference for="Nord\Shipfunk\Api\Data\ShipfunkResponseInterface" type="Nord\Shipfunk\Model\Api\ShipfunkResponse" /> 
  
    <preference for="Nord\Shipfunk\Api\Data\QuoteSelectedPickupInterface" type="Nord\Shipfunk\Model\Quote\SelectedPickup" />
    <preference for="Nord\Shipfunk\Api\Data\OrderSelectedPickupInterface" type="Nord\Shipfunk\Model\Order\SelectedPickup" />
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="save_selected_pickup_to_quote" type="Nord\Shipfunk\Plugin\ShippingInformationManagementPlugin"/>
    </type>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="get_selected_pickup_to_quote" type="Nord\Shipfunk\Plugin\LoadQuoteAfter"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_selected_pickup_to_order" type="Nord\Shipfunk\Plugin\LoadOrderAfter"/>
    </type>
</config>