<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="shipfunk_orderpaid" instance="Nord\Shipfunk\Observer\CheckoutSubmitAllAfterObserver" />
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="shipfunk_order_confirmation_email" instance="Nord\Shipfunk\Observer\OrderConfirmationEmailObserver" />
    </event>
    <event name="sales_order_shipment_track_delete_before">
        <observer name="shipfunk_track_delete_before" instance="Nord\Shipfunk\Observer\TrackingDeleteBeforeObserver" />
    </event>
    <!-- event name="order_cancel_after">
        <observer name="shipfunk_order_cancelled" instance="Nord\Shipfunk\Observer\OrderCancelledAfterObserver" />
    </event -->
</config>