<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="shipfunk_orderpaid" instance="Nord\Shipfunk\Observer\CheckoutSubmitAllAfterObserver" />
    </event>
    <!-- event name="order_cancel_after">
        <observer name="shipfunk_order_cancelled" instance="Nord\Shipfunk\Observer\OrderCancelledAfterObserver" />
    </event -->
</config>